# Environment variables
.env

# Service account credentials
*.json
content-moderator-drive.json
contentmoderator-firebase-adminsdk.json

# Upload/download directories
uploads/
downloads/

# Node modules
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# OS files
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# OS and editor-specific files
.vscode/
